@import "style.css"; // 初始化
@import "config"; // 配置
@import "game-style"; // 游戏方格主题

.game-wrapper {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    .bt {
      color: #776e65;
      max-font-size: 74px;
    }
    .score-wrapper {
      display: flex;
      justify-content: space-between;
      .card {
        width: 55px;
        height: 55px;
        padding: 5px 22px 5px 22px;
        background-color: #bbada0;
        border-radius: 10px;
        p:first-child {
          text-align: center;
          color: #e9e4da;
          font-size: 15px;
        }
        p:last-child {
          text-align: center;
          color: white;
          font-size: 25px;
        }
      }
    }
    .refresh {
      padding: 10px 20px 10px 20px;
      color: #f9f6f2;
      background-color: #8f7a66;
      font-size: 17px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  main {
    .game-2048 {
      margin: 40px auto;
      max-width: @GameWidth * @Row;
      .game-row {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .game-tab {
          min-height: @GameHeight;
          flex: 1;
          border-radius: @GameWidth * 0.2;
          margin-left: 10px;
          //box-sizing: border-box;
          line-height: @GameHeight;
          text-align: center;
          font-family: @GameFontFamily;
          font-size: @GameFontSize;
          color: @GameColor;
          font-weight: 800;
        }
      }
    }
  }
}
