@import "style.css"; // 初始化
@import "config"; // 配置
@import "game-style"; // 游戏方格主题

.game-wrapper {
  @media screen and (min-width: 768px) {
    header {
      width: @Width ;
      margin: 50px auto;
      .msg {
        position: absolute;
        top: 100px;
        left: 10px;
        p {
          color: #f1840b;
          font-size: 18px;
        }
      }
      .bt {
        font-size: 74px;
      }
      .score-wrapper {
        width: @GameWidth * @Col * 0.55;
        position: absolute;
        left: 215px;
        top: 23px;
        .card {
          width: 55px;
          height: 55px;
          padding: 5px 22px 5px 22px;
          border-radius: 10px;
          p:first-child {
            font-size: 15px;
          }
          p:last-child {
            font-size: 25px;
          }
        }
      }
      .refresh {
        width: 131px;
        padding: 10px 20px 10px 20px;
        font-size: 17px;
        border-radius: 5px;
        position: absolute;
        left: 290px;
        top: 95px;
      }
    }
    main {
      width: @Width;
      margin: 50px auto;
      .game-row {
        .game-tab {
          font-size: @GameFontSize768;
          height: @GameHeight;
          flex: 0 0 @GameWidth;
          line-height: @GameHeight;
          border-radius: @GameWidth * 0.2;
        }
      }
    }
    footer {
      width: @Width ;
      margin: 50px auto;
      text-align: center;
      a{
        color: #bdbbbb;
        display: inline-block;
        &:hover {
          color: #f1840b;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    header {
      width: @Width768 ;
      margin: 50px auto;
      .msg {
        position: absolute;
        top: 100px;
        left: 10px;
        p {
          color: #f1840b;
          font-size: 18px;
        }
      }
      .bt {
        font-size: 74px;
      }
      .score-wrapper {
        width: @GameWidth768 * @Col * 0.55;
        position: absolute;
        left: 215px;
        top: 23px;
        .card {
          width: 55px;
          height: 55px;
          padding: 5px 22px 5px 22px;
          border-radius: 10px;
          p:first-child {
            font-size: 15px;
          }
          p:last-child {
            font-size: 25px;
          }
        }
      }
      .refresh {
        width: 131px;
        padding: 10px 20px 10px 20px;
        font-size: 17px;
        border-radius: 5px;
        position: absolute;
        left: 290px;
        top: 95px;
      }
    }
    main {
      width: @Width768;
      margin: 50px auto;
      .game-row {
        .game-tab {
          font-size: @GameFontSize768;
          height: @GameHeight768;
          flex: 0 0 @GameWidth768;
          line-height: @GameHeight768;
          border-radius: @GameWidth768 * 0.2;
        }
      }
    }
    footer {
      width: @Width768 ;
      margin: 50px auto;
      text-align: center;
      a{
        color: #bdbbbb;
        display: inline-block;
        &:hover {
          color: #f1840b;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    header {
      width: @Width375 ;
      margin: 50px auto;
      .msg {
        display: none;
      }
      .bt {
        font-size: 40px;
      }
      .score-wrapper {
        width: 150px;
        position: absolute;
        left: 103px;
        top: 10px;
        .card {
          width: 40px;
          height: 40px;
          padding: 2px 15px 2px 15px;
          border-radius: 5px;
          p:first-child {
            font-size: 10px;
          }
          p:last-child {
            font-size: 20px;
          }
        }
      }
      .refresh {
        width: 86px;
        padding: 5px 10px 5px 10px;
        font-size: 12px;
        border-radius: 2px;
        position: absolute;
        left: 160px;
        top: 65px;
      }
    }
    main {
      width: @Width375;
      margin: 0 auto;
      .game-row {
        .game-tab {
          font-size: @GameFontSize375;
          height: @GameHeight375;
          flex: 0 0 @GameWidth375;
          line-height: @GameHeight375;
          border-radius: @GameWidth375 * 0.2;
        }
      }
    }
    footer {
      width: 340px ;
      margin: 50px auto;
      text-align: center;
      a{
        color: #bdbbbb;
        display: inline-block;
        &:hover {
          font-size: 10px;
          color: #f1840b;
        }
      }
    }
  }
  header {
    position: relative;
    .bt {
      color: #776e65;
    }
    .score-wrapper {
      display: flex;
      justify-content: space-between;
      .card {
        background-color: #bbada0;
        p:first-child {
          text-align: center;
          color: #e9e4da;
        }
        p:last-child {
          text-align: center;
          color: white;
        }
      }
    }
    .refresh {
      color: #f9f6f2;
      background-color: #8f7a66;
      font-weight: bold;
      cursor: pointer;
    }
  }
  main {
    .game-2048 {
      margin: 40px auto;
      .game-row {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .game-tab {
          text-align: center;
          font-family: @GameFontFamily;
          color: @GameColor;
          font-weight: 800;
        }
      }
    }
  }
}
