@GameSize: 0.9; // 游戏显示大小

@GameWidth: 100px * @GameSize;
@GameHeight: 100px * @GameSize;
@Row: 4;
@Col: 4;

@GameColor: #fff; // 方格文字颜色
@GameFontSize: 25px;  // 方格文字大小
@bg0: #6de353; // 默认方格颜色
@bg2: #ef9559;
@bg4: #0080ff;
@bg8: #ff8000;
@bg16: #804040;
@bg32: #fa00df;
@bg64: #8000ff;
@bg128: #008080;
@bg256: #5ff3e1;
@bg512: #ff80c0;
@bg1024: #ff0000;
@bg2048: #000000;
// 游戏方格颜色

