@import "config";
@import "Animation";

.anim() {
  animation-name: gameHover;
  animation-duration: @time;
}

.active-0 {
  background-color: @bg0;
  color: black;
}
.active-2 {
  background-color: @bg2;
  color: black;
}
.active-4 {
  background-color: @bg4;
  .anim();
}
.active-8 {
  background-color: @bg8;
  .anim();
}
.active-16 {
  background-color: @bg16;
  .anim();
}
.active-32 {
  background-color: @bg32;
  .anim();
}
.active-64 {
  background-color: @bg64;
  .anim();
}
.active-128 {
  background-color: @bg128;
  .anim();
}
.active-256 {
  background-color: @bg256;
  .anim();
}
.active-512 {
  background-color: @bg512;
  .anim();
}
.active-1024 {
  background-color: @bg1024;
  .anim();
}
.active-2048 {
  background-color: @bg2048;
  .anim();
}
